* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    padding: 30px;
    font-size: 35px;
    text-align: center;
}

.container {
    border: 3px solid red;
}

.box {
    color: #fff;
    padding: 30px;
    font-size: 35px;
    text-align: center;
}

.box-1 {
    background-color: #264653;
}

.box-2, .box-m, .more {
    background-color: #2a9d8f;
}

.box-3 {
    background-color: #e9c46a;
}

.box-4 {
    background-color: #f4a261;
}

.box-5 {
    background-color: #e76f51;
}
